.wrapper {
	display: inherit;
}

button {
	z-index: 1;
}

button + .items {
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;

	display: grid;
	overflow-y: auto;

	max-height: 20rem;
	margin: 0;
	padding: 0;

	list-style: none;

	border-top: 20px solid #ccc;
	background: #ccc;

	grid-gap: .5rem;
}

.items > li {
	padding: 0 1rem;
}

.items > li:hover {
	background: orange;
}
